.create-vac {
  all: unset;
  display: inline-block;
  padding: 20px 0;
  width: 45%;
  height: 100px;
  border-radius: 15px;
  color: white;
  background-color: #f8c5ba;
  text-align: center;
  margin: 0 auto;
  margin-top: 35px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 30px;
  line-height: 28px;
  height: 20%;
  &:last-child {
    margin-bottom: 35px;
  }
}

.all-modules {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .create-vac {
    width: 100%;
  }
  .all-modules {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
