.create-vac {
  all: unset;
  display: block;
  padding-top: 45px;
  width: 45%;
  height: 100px;
  border-radius: 15px;
  color: white;
  background-color: #f8c5ba;
  text-align: center;
  margin: 0 auto;
  margin-top: 35px;

  cursor: pointer;
  font-size: 40px;
  &:last-child {
    margin-bottom: 35px;
  }
}

.all-modules {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}
