.each-vacancy {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  height: 140px;
  display: flex;
  margin-bottom: 30px;
  padding: 16px;

  .info__link {
    text-decoration: none;
    color: black;
    display: flex;
  }

  &__name {
    margin: auto 0;
    font-weight: 700;
    font-size: 18px;
  }

  &__buttons {
    margin-left: auto;
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__participate {
    z-index: 5;
    height: 40px;
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
    padding: 0 8px;
    line-height: 16px;

    a {
      color: #ffffff;
      text-decoration: none;
    }

    :hover,
    :active {
      outline: 0;
    }

    &.delete {
      background-image: linear-gradient(144deg, crimson, crimson 50%, #ffa5b6);
    }

    @media (min-width: 768px) {
      .button-63 {
        font-size: 24px;
        min-width: 196px;
      }
    }
  }
}

/* CSS */

.description-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__salary {
  }

  &__description {
    height: 50px;
  }
}
