.header {
  height: var(--header-height);
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  padding: 16px 24px;
  justify-content: flex-start;
  gap: 18px;
  align-items: center;
  display: flex;
  gap: 26px;
  position: fixed;
  top: 0;
  left: 0;
  background: white;

  a {
    color: black;
    text-decoration: none;
    display: block;
  }

  .active {
    text-decoration: underline;
  }

  .header-right {
    margin-left: auto;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .header-name {
    vertical-align: middle;
  }
  .header-exit {
    padding: 5px;
    background-color: crimson;
    border-radius: 6px;
    color: aliceblue;
  }
}
