.container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 100px;
  align-items: flex-start;
}

.all-vacancies {
  margin-top: 40px;
}

.filters-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  margin-top: 40px;
  width: 20%;
}
